<div class="landing_wrap" [ngClass]="[backgroundColor]">
  <app-header>
  </app-header>
  <!--  <app-intro1></app-intro1>-->
  <!--      <app-features></app-features>-->
  <app-sort-paginate-table></app-sort-paginate-table>
  <!--    <app-services></app-services>-->
  <!--    <app-works-carousel></app-works-carousel>-->
  <!--    <app-best></app-best>-->
  <!--    <app-left-image></app-left-image>-->
  <!--    <app-right-image></app-right-image>-->
  <!--    <app-pricing-one></app-pricing-one>-->
  <!--    <app-team></app-team>-->
  <!--    <app-testimonial></app-testimonial>-->
  <!--    <app-news-two></app-news-two>-->
  <!--    <app-faqs></app-faqs>-->
  <!--    <app-contact-form></app-contact-form>-->
  <!--    <app-footer></app-footer>-->

</div>
