.bg-default{
  background-color: #22356e !important;
  padding-top: 0rem !important;
}

.centre {
  width: 90%;
  margin: auto;
  display: inherit;
}

.centre-form {
  width: 100%;
  margin: auto;
  display: inherit;
}
.centre-text {
  text-align: center;
  margin-top: 5%;
}

.spaced-table{
  margin-top: 5%;
}

.align-vertical{
  vertical-align: middle !important;
}

.space-out{
  margin-left: 2%;
}
