/* You can add global styles to this file, and also import other style files */
@import "~ng-uikit-pro-standard/assets/scss/addons-pro/_chat.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-top {
    background-color: #22356e !important;
    box-shadow: none !important;
}
