<!--Navbar-->
<div class="header-fixed">
<mdb-navbar #nav SideClass="navbar navbar-expand-lg navbar-dark  bg-blue1">

  <!-- Navbar brand -->
    <mdb-navbar-brand>
    <a class="navbar-brand" href="#"><img src="../assets/img/brand/logonew3.png" class="navbar-brand-img" alt="..."></a>
  </mdb-navbar-brand>

    <links>
      <!-- Links -->
      <ul class="navbar-nav mr-auto link-width">

        <li class="nav-item dropdown mega-dropdown active menu-spacing" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle no-caret" aria-haspopup="true"
             aria-expanded="false">About</a>
          <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color dropdown-width">
            <div class="row mx-md-4 mx-1">
              <div class="col-md-12 col-lg-4 my-lg-5 mt-5 mb-4">
                <h6 class="sub-title text-uppercase font-weight-bold ">Featured</h6>
                <!--Featured image-->
                <div class="view overlay mb-3 z-depth-1">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(37).jpg" class="img-fluid"
                       alt="First sample image">
                  <div class="mask rgba-white-slight flex-center">
                    <p></p>
                  </div>
                </div>
                <h4 class="mb-2">
                  <a class="news-title pl-0" href="">Lorem ipsum dolor sit</a>
                </h4>
                <p class="font-small text-uppercase ">
                  <mdb-icon far icon="clock" class="pr-2" aria-hidden="true"></mdb-icon>July 17, 2017 /
                  <mdb-icon far icon="comments" class="px-1" aria-hidden="true"></mdb-icon> 20</p>
              </div>
              <div class="col-md-6 col-lg-4 my-lg-5 my-4">
                <h6 class="sub-title text-uppercase font-weight-bold ">Related</h6>
                <ul class="list-unstyled">
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quis nostrud exercitation
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Duis aute irure dolor in
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Laboris nisi ut aliquip ex ea commodo
                      consequat
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Reprehenderit in voluptate
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Esse cillum dolore eu fugiat nulla
                      pariatur
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4 my-lg-5 my-4">
                <h6 class="sub-title text-uppercase font-weight-bold ">Design</h6>
                <ul class="list-unstyled">
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Excepteur sint occaecat
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sunt in culpa qui officia
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed ut perspiciatis unde omnis iste
                      natus error
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Mollit anim id est laborum
                    </a>
                  </li>
                  <li class="">
                    <a class="menu-item pl-0" href="">
                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Accusantium doloremque laudantium
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item dropdown mega-dropdown menu-spacing" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle no-caret" aria-haspopup="true"
             aria-expanded="false">Test Prep</a>
          <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color dropdown-width">
            <div class="row mx-md-4 mx-1">
              <div class="col-md-6 col-xl-3 my-xl-5 mt-5 mb-4">
                <h6 class="sub-title font-weight-bold ">High School Level</h6>
<!--                <ul class="">-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Lorem ipsum dolor sit amet-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Consectetur adipiscing elit-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed do eiusmod tempor incididunt-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut labore et dolore magna-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut enim ad minim veniam-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-act-tutoring">ACT Tutoring</a></li>
                  <li><a href="/las_vegas-sat-tutoring">SAT Tutoring</a></li>
                  <li><a href="/las_vegas-psat-tutoring">PSAT Tutoring</a></li>
                  <li><a href="/las_vegas-plan-tutoring">ASPIRE Tutoring</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-md-5 mt-4 mb-4">
                <h6 class="sub-title font-weight-bold ">Graduate Level</h6>
<!--                <ul class="list-unstyled">-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quis nostrud exercitation-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Duis aute irure dolor in-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Laboris nisi ut aliquip ex ea commodo-->
<!--                      consequat-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Reprehenderit in voluptate-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Esse cillum dolore eu fugiat nulla-->
<!--                      pariatur-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-mcat-tutoring">MCAT Tutoring</a></li>
                  <li><a href="/las_vegas-gre-tutoring">GRE Tutoring</a></li>
                  <li><a href="/las_vegas-lsat-tutoring">LSAT Tutoring</a></li>
                  <li><a href="/las_vegas-gmat-tutoring">GMAT Tutoring</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-4 mb-4">
                <h6 class="sub-title font-weight-bold ">K-8</h6>
<!--                <ul class="list-unstyled">-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Excepteur sint occaecat-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sunt in culpa qui officia-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed ut perspiciatis unde omnis iste-->
<!--                      natus error-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Mollit anim id est laborum-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Accusantium doloremque laudantium-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-aims-tutoring">AIMS Tutoring</a></li>
                  <li><a href="/las_vegas-hspt-tutoring">HSPT Tutoring</a></li>
                  <li><a href="/las_vegas-isee-tutoring">ISEE Tutoring</a></li>
                  <li><a href="/las_vegas-ssat-tutoring">SSAT Tutoring</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-4 mb-5">
                <h6 class="sub-title font-weight-bold ">Professional Test</h6>
<!--                <ul class="list-unstyled">-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Totam rem aperiam eaque-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Beatae vitae dicta sun-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quae ab illo inventore veritatis et-->
<!--                      quasi architecto-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Nemo enim ipsam voluptatem-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li class="">-->
<!--                    <a class="menu-item pl-0" href="">-->
<!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Neque porro quisquam est-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--                <ul class="site-nav__menu-list">-->
<!--                  <li><a href="/las_vegas-algebra-tutoring">Algebra</a></li>-->
<!--                  <li><a href="/las_vegas-calculus-tutoring">Calculus</a></li>-->
<!--                  <li><a href="/las_vegas-elementary_math-tutoring">Elementary Math</a></li>-->
<!--                  <li><a href="/las_vegas-geometry-tutoring">Geometry</a></li>-->
<!--                  <li><a href="/las_vegas-pre_calculus-tutoring">Pre-Calculus</a></li>-->
<!--                  <li><a href="/las_vegas-statistics-tutoring">Statistics</a></li>-->
<!--                  <li><a href="/las_vegas-trigonometry-tutoring">Trigonometry</a></li>-->
<!--                </ul>-->
<!--                <div class="nav-search nav-search&#45;&#45;test-prep" data-api-endpoint="subjects" data-locale="las_vegas">-->
<!--                  <input class="nav-search__input" placeholder="Find your test" autocomplete="off">-->
<!--                  <div class="autocomplete-suggestions nav-search__menu nav-search__menu&#45;&#45;test-prep" style="width: 220px; display: none; max-height: 108px;"></div></div>-->
<!--
-->
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown mega-dropdown menu-spacing" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle no-caret" aria-haspopup="true"
             aria-expanded="false">Academic Tutoring</a>
          <div class="dropdown-menu mega-menu v-2 row z-depth-1 special-color dropdown-width">
            <div class="row mx-md-4 mx-1">
              <div class="col-md-6 col-xl-3 my-xl-5 mt-5 mb-4">
                <h6 class="sub-title font-weight-bold ">Math tutoring</h6>
                <!--                <ul class="">-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Lorem ipsum dolor sit amet-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Consectetur adipiscing elit-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed do eiusmod tempor incididunt-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut labore et dolore magna-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Ut enim ad minim veniam-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-algebra-tutoring">Algebra</a></li>
                  <li><a href="/las_vegas-calculus-tutoring">Calculus</a></li>
                  <li><a href="/las_vegas-elementary_math-tutoring">Elementary Math</a></li>
                  <li><a href="/las_vegas-geometry-tutoring">Geometry</a></li>
                  <li><a href="/las_vegas-pre_calculus-tutoring">Pre-Calculus</a></li>
                  <li><a href="/las_vegas-statistics-tutoring">Statistics</a></li>
                  <li><a href="/las_vegas-trigonometry-tutoring">Trigonometry</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-md-5 mt-4 mb-4">
                <h6 class="sub-title font-weight-bold ">Language tutoring</h6>
                <!--                <ul class="list-unstyled">-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quis nostrud exercitation-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Duis aute irure dolor in-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Laboris nisi ut aliquip ex ea commodo-->
                <!--                      consequat-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Reprehenderit in voluptate-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Esse cillum dolore eu fugiat nulla-->
                <!--                      pariatur-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-algebra-tutoring">Algebra</a></li>
                  <li><a href="/las_vegas-calculus-tutoring">Calculus</a></li>
                  <li><a href="/las_vegas-elementary_math-tutoring">Elementary Math</a></li>
                  <li><a href="/las_vegas-geometry-tutoring">Geometry</a></li>
                  <li><a href="/las_vegas-pre_calculus-tutoring">Pre-Calculus</a></li>
                  <li><a href="/las_vegas-statistics-tutoring">Statistics</a></li>
                  <li><a href="/las_vegas-trigonometry-tutoring">Trigonometry</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-4 mb-4">
                <h6 class="sub-title font-weight-bold ">Science tutoring</h6>
                <!--                <ul class="list-unstyled">-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Excepteur sint occaecat-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sunt in culpa qui officia-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Sed ut perspiciatis unde omnis iste-->
                <!--                      natus error-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Mollit anim id est laborum-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Accusantium doloremque laudantium-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-algebra-tutoring">Algebra</a></li>
                  <li><a href="/las_vegas-calculus-tutoring">Calculus</a></li>
                  <li><a href="/las_vegas-elementary_math-tutoring">Elementary Math</a></li>
                  <li><a href="/las_vegas-geometry-tutoring">Geometry</a></li>
                  <li><a href="/las_vegas-pre_calculus-tutoring">Pre-Calculus</a></li>
                  <li><a href="/las_vegas-statistics-tutoring">Statistics</a></li>
                  <li><a href="/las_vegas-trigonometry-tutoring">Trigonometry</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xl-3 my-xl-5 mt-4 mb-5">
                <h6 class="sub-title font-weight-bold ">Skill tutoring</h6>
                <!--                <ul class="list-unstyled">-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Totam rem aperiam eaque-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Beatae vitae dicta sun-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Quae ab illo inventore veritatis et-->
                <!--                      quasi architecto-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Nemo enim ipsam voluptatem-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                  <li class="">-->
                <!--                    <a class="menu-item pl-0" href="">-->
                <!--                      <mdb-icon fas icon="caret-right" class="pl-1 pr-3"></mdb-icon> Neque porro quisquam est-->
                <!--                    </a>-->
                <!--                  </li>-->
                <!--                </ul>-->
                <ul class="site-nav__menu-list">
                  <li><a href="/las_vegas-algebra-tutoring">Algebra</a></li>
                  <li><a href="/las_vegas-calculus-tutoring">Calculus</a></li>
                  <li><a href="/las_vegas-elementary_math-tutoring">Elementary Math</a></li>
                  <li><a href="/las_vegas-geometry-tutoring">Geometry</a></li>
                  <li><a href="/las_vegas-pre_calculus-tutoring">Pre-Calculus</a></li>
                  <li><a href="/las_vegas-statistics-tutoring">Statistics</a></li>
                  <li><a href="/las_vegas-trigonometry-tutoring">Trigonometry</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown mega-dropdown menu-spacing" mdbDropdown>
          <a mdbDropdownToggle class="nav-link ">Homework help</a>
        </li>
        <li class="nav-item dropdown mega-dropdown menu-spacing" mdbDropdown>
          <a mdbDropdownToggle class="nav-link">Pricing</a>
        </li>

      </ul>
      <!-- Links -->


      <!--    <form class="form-inline waves-light" mdbWavesEffect>-->
      <!--      <div class="md-form mt-0">-->
      <!--        <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
      <!--      </div>-->
      <!--    </form>-->
      <div class="sign-in-button"> <a name="" id="" routerLink="/sessions/signin" class="btn btn-outline-white  text-uppercase" href="#" role="button">

        Sign in
      </a></div>

    </links>


  <!-- Collapsible content -->
</mdb-navbar>
<!--  <app-callusbox></app-callusbox>-->
  <div class="top-bar1 text-xl"> Call now to set up tutoring: (862) 505-0706</div>
</div>

