.bg-blue1{
  background-color: #1aae6f;
}
.header-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  //padding: 0 !important;
  z-index: 99999;
  -webkit-font-smoothing: antialiased;

  //box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  //animation: .6s slideDown forwards;
  //transition: all .5s ease-in-out !important;
  //margin-bottom: 150px !important;
}
.header-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  //padding: 0 !important;
  z-index: 99999;
  -webkit-font-smoothing: antialiased;

  //box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  //animation: .6s slideDown forwards;
  //transition: all .5s ease-in-out !important;
  //margin-bottom: 150px !important;
}
.link-width{
  width: 60%;
  margin: auto;
  white-space: nowrap;

}
.dropdown-width{
  width: 60% !important;
  //margin: auto !important;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #ffffff !important;
  border: #212529;
  color: #454d55 !important;
  border-bottom-right-radius: 1% !important;
  border-bottom-left-radius: 1% !important;
  z-index: 99998;
}
.menu-spacing {
  padding-right: 20px;
}
//.navbar .mega-dropdown {
//  position: static !important;
//}
//
//.navbar .dropdown-menu.mega-menu {
//  width: 100%;
//  border: none;
//  border-radius: 0;
//}
//
//.navbar .dropdown-menu.mega-menu a {
//  padding: 0 0 0 0;
//}
//
//.navbar .dropdown-menu.mega-menu a.news-title-2 {
//  font-weight: 500;
//  font-size: 1.1rem;
//  line-height: 1.5;
//  -webkit-transition: .2s;
//  transition: .2s;
//  color: #fff !important;
//}
//
//.navbar .dropdown-menu.mega-menu a.news-title-2:hover {
//  color: #d0d6e2 !important;
//}
//
//.navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2 {
//  color: #fff !important;
//}
//
//.navbar .dropdown-menu a {
//  color: #fff !important;
//}
//
//.navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2:hover {
//  color: #fff !important;
//}
//
//.navbar .dropdown-menu.mega-menu .sub-title {
//  padding-bottom: 0.5rem;
//  margin-bottom: 1rem;
//  border-bottom: 1px solid #e0e0e0;
//}
//
//.navbar .dropdown-menu.mega-menu .mt-sm {
//  margin-top: -3px;
//}
//
//.navbar .dropdown-menu.mega-menu .font-small {
//  font-size: 0.85rem;
//}
.top-bar1 {
  //position: fixed;
  //margin-right: calc(-50vw + 50%);
  //margin-left: calc(-50vw + 50%);
  //margin-top: 50px;
  //max-width: 100vw;
  //////////////////
  //height: auto;
  //background: #fff;
  //text-align: center !important;
  //color: #e97d23;
  //padding: 0 !important;
  //z-index: 9999;
  //margin-bottom: 100px;
  /////////////////
  margin-right: calc(-50vw + 50%);
  margin-left: calc(-50vw + 50%);
  max-width: 100vw;
  height: 3.75rem;
  background: #901a1a;
  text-align: center;

}
.site-header__inner {
  position: relative;
  width: 100%;
  max-width: 1050px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 10;
}

.site-nav {
  background: #153154;
  position: static;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  transform: none;
  transition: none;
}
