<section id="teams-wrap" class="team-wrap p-t-b-80 light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-header mb-5">
                <h2 class="font-weight-bold">Top Tutors last month</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/15.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">John Clayton</h5>
                        <p class="mt-0">Math Tutor</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-gradient">Contact John</button>
                        <div class="card-socials-simple mt-4">

<!--                            <a href="" class="text-20 mr-2">-->
<!--                                <i class="eva eva-twitter twitter"></i>-->
<!--                            </a>-->
<!--                            <a href="" class="text-20 mr-2">-->
<!--                                <i class="eva eva-google google"></i>-->
<!--                            </a>-->
<!--                            <a href="" class="text-20 mr-2">-->
<!--                                <i class="eva eva-facebook facebook"></i>-->
<!--                            </a>-->
<!--                            <div class="rating-container">-->

                                            <span class="filled-stars" style="width: 100%;">
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                            </span>

<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0  mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/12.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Jessica Pearl</h5>
                        <p class="mt-0">English Tutor</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-gradient">Contact Jessica</button>
                        <div class="card-socials-simple mt-4">

                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-twitter twitter"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-google google"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-facebook facebook"></i>-->
                            <!--                            </a>-->
                            <!--                            <div class="rating-container">-->

                            <span class="filled-stars" style="width: 100%;">
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                            </span>

                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-6 col-lg-3 col-sm-6  mb-lg-0 mb-md-0 mb-sm-0 mb-4 ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/16.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Isabella Hernandez</h5>
                        <p class="mt-0">Spanish Tutor</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-gradient">Contact Kara</button>
                        <div class="card-socials-simple mt-4">

                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-twitter twitter"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-google google"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-facebook facebook"></i>-->
                            <!--                            </a>-->
                            <!--                            <div class="rating-container">-->

                            <span class="filled-stars" style="width: 100%;">
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                            </span>

                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->

            <div class="col-md-6 col-lg-3 col-sm-6 mb-lg-0 mb-md-0 mb-sm-0  ">
                <div class="card card-profile-1">
                    <div class="card-body text-center">
                        <div class="avatar box-shadow-2 mb-3">
                            <img src="./assets/images/landing/faces/5.jpg" alt="">
                        </div>
                        <h5 class="font-weight-medium card-title m-0">Mike Danvers</h5>
                        <p class="mt-0">Math Tutor</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-gradient">Contact Mike</button>
                        <div class="card-socials-simple mt-4">

                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-twitter twitter"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-google google"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="" class="text-20 mr-2">-->
                            <!--                                <i class="eva eva-facebook facebook"></i>-->
                            <!--                            </a>-->
                            <!--                            <div class="rating-container">-->

                            <span class="filled-stars" style="width: 100%;">
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                                <span class="star"><i class="fa fa-star star-yellow"></i></span>
                                            </span>

                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>
