
<div class="see-on">
  <ul class="nav nav-pills see-on__nav flex-between">
    <li class="see-on__nav_elem elem-absolute">As seen on</li>
    <li class="see-on__nav_elem">
      <img src="../assets/images/ABC-logo.svg" alt="HEYTUTOR NEWS">
    </li>
    <li class="see-on__nav_elem">
      <img src="../assets/images/NBC-logo.svg" alt="HEYTUTOR NEWS">
    </li>
    <li class="see-on__nav_elem">
      <img src="../assets/images/Fox-News-Logo.svg" alt="HEYTUTOR NEWS">
    </li>
    <li class="see-on__nav_elem">
      <img src="../assets/images/CNBC-Logo.svg" alt="HEYTUTOR NEWS">
    </li>
    <li class="see-on__nav_elem">
      <img src="../assets/images/CNN-Logo.svg" alt="HEYTUTOR NEWS">
    </li>
  </ul>
</div>
