//.time-picker-wrapper {
//  padding: 1rem;
//}
//.time-width{
//  width: 100%;
//}
//.date-picker-wrapper {
//  padding: 1rem;
//}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0,0,0,0.3);
}

.card-header {
  padding: 1.25rem 1.5rem;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.btn {
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
  /* padding: 0.84rem 2.14rem; */
  font-size: 0.81rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  margin: 0.375rem;
  /* border: 0; */
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap !important;

  /* word-wrap: break-word; */
  /* color: inherit; */
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
//.form-inline mdb-select {
//  vertical-align: middle;
//  margin: 5px 10px 5px 0;
//  padding: 10px;
//  background-color: #fff;
//  border: 1px solid #ddd;
//}
.form-inline .form-col {
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  padding: 10px;
  //background-color: #fff;
  //border: 1px solid #ddd;
  //width: 100%;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.my-inline{
  display:inline-block;
}
.submit-button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  //background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  //padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  //border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  padding: 10px 10px !important;
  color: white;
  //padding: 10px 20px;
  background-color: #e1245a;
  color: white;
  cursor: pointer;
}

.prop-display {
  display: inherit;
}
.red-button{
  background-color: #e1245a;
  color: #fff;
}

.red-outline-button{
  background-color: #fff;
  color: #e1245a;
  border-color: #e1245a;
}

