<!--<div class="card-header">-->


<form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">
<div class="row text-black-50">
    <div class="col-md-3">
        <mdb-select [options]="optionsTutors" [placeholder]="selectType" (selected)="getAssociatedCourses($event.value)" formControlName="requested_user"></mdb-select>
    </div>
    <div class="col-md-3">
        <mdb-select [filterEnabled]="true" [options]="optionsSubjects" placeholder="Select Subject" formControlName="subject"></mdb-select>
    </div><div class="col-md-2">
    <mdb-date-picker [inline]="true" name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" required formControlName="date" ></mdb-date-picker>
    </div><div class="col-md-2">
    <input
            type="time"
            formControlName="start_time"
            id="input"
            name="start_time"
            class="form-control"
            mdbInput

    />
    </div><div class="col-md-2 ">
<!--    <button type="submit" class="submit-button"> &lt;!&ndash;data-toggle="modal" data-target="#appointment-form-modal"> &ndash;&gt;-->
<!--        Request appointment <i class="ni ni-fat-add"></i>-->
<!--    </button>-->
    <button mdbBtn  size="sm" mdbWavesEffect type="submit" class="m-0 red-button">Request</button>
    </div>

</div>
</form>
  <mat-spinner class="loading-indicator" *ngIf="showSpinner"></mat-spinner>
<!--</div>-->
