<div class="site-footer__container">
  <footer class="site-footer" role="contentinfo">
    <div class="site-footer__about" role="tablist">
      <div class="layout-field">
        <div class="site-footer-set site-footer-set--about-company layout-region">
          <strong aria-controls="varsity-tutors" class="site-footer__heading" id="varsity-tutors-tab" role="tab">
            Varsity Tutors
          </strong>
          <div aria-labelledby="varsity-tutors-tab" id="varsity-tutors" role="tabpanel">
            <ul>
              <li><a href="/guarantee">Our Guarantee</a></li>
              <li><a href="/online-tutoring">Online Tutoring</a></li>
              <li><a href="/mobile-tutoring">Mobile Tutoring App</a></li>
              <li><a href="/instant-tutoring">Instant Tutoring</a></li>
              <li><a href="/las_vegas-reviews">Reviews and Testimonials</a></li>
              <li><a href="/how-we-operate">How We Operate</a></li>
            </ul>
          </div>
        </div>
        <div class="site-footer-set site-footer-set--about-company layout-region">
          <strong aria-controls="our-company" class="site-footer__heading" id="our-company-tab" role="tab">
            Our Company
          </strong>
          <div aria-labelledby="our-company-tab" id="our-company" role="tabpanel">
            <ul>
              <li><a href="/press">Press Coverage</a></li>
              <li><a href="/aboutus">Our Team</a></li>
              <li><a href="/partnerships">Partnerships</a></li>
              <li><a href="/las_vegas-tutoring-jobs">Tutoring Jobs</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="site-footer-set site-footer-set--about-resources layout-region">
          <strong aria-controls="free-resources" class="site-footer__heading" id="free-resources-tab" role="tab">
            Free Resources
          </strong>
          <div aria-labelledby="free-resources-tab" id="free-resources" role="tabpanel">
            <ul>
              <li><a href="/practice-tests">Tests, Problems &amp; Flashcards</a></li>
              <li><a href="/classroom-assessment">Classroom Assessment Tools</a></li>
              <li><a href="/apps">Mobile Applications</a></li>
              <li><a href="/college-scholarship">College Scholarship</a></li>
              <li><a href="/blog">Admissions Blog</a></li>
              <li><a href="/books">Test Prep Books</a></li>
              <li><a href="/englishteacher">Web English Teacher</a></li>
              <li><a href="/earlyamerica">Early America</a></li>
              <li><a href="/hotmath">Hotmath</a></li>
              <li><a href="/aplusmath">Aplusmath</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="site-footer__top" role="tablist">
      <div class="layout-field">
        <div class="site-footer-set site-footer-set--top-subjects layout-region">
          <strong aria-controls="top-subjects" class="site-footer__heading" id="top-subjects-tab" role="tab">
            Top Subjects
          </strong>
          <div aria-labelledby="top-subjects-tab" id="top-subjects" role="tabpanel">
            <ul>
              <li><a href="/act-tutors">ACT Tutors</a></li>
              <li><a href="/algebra-tutors">Algebra Tutors</a></li>
              <li><a href="/biology-tutors">Biology Tutors</a></li>
              <li><a href="/calculus-tutors">Calculus  Tutors</a></li>
              <li><a href="/chemistry-tutors">Chemistry Tutors</a></li>
              <li><a href="/french-tutors">French Tutors</a></li>
              <li><a href="/geometry-tutors">Geometry Tutors</a></li>
              <li><a href="/german-tutors">German Tutors</a></li>
              <li><a href="/gmat-tutors">GMAT Tutors</a></li>
              <li><a href="/grammar_and_mechanics-tutors">Grammar Tutors</a></li>
              <li><a href="/gre-tutors">GRE Tutors</a></li>
              <li><a href="/isee-tutors">ISEE Tutors</a></li>
              <li><a href="/lsat-tutors">LSAT Tutors</a></li>
              <li><a href="/mcat-tutors">MCAT Tutors</a></li>
              <li><a href="/math-tutors">Math Tutors</a></li>
              <li><a href="/physics-tutors">Physics Tutors</a></li>
              <li><a href="/psat-tutors">PSAT Tutors</a></li>
              <li><a href="/reading-tutors">Reading Tutors</a></li>
              <li><a href="/sat-tutors">SAT Tutors</a></li>
              <li><a href="/spanish-tutors">Spanish Tutors</a></li>
              <li><a href="/ssat-tutors">SSAT Tutors</a></li>
              <li><a href="/statistics-tutors">Statistics Tutors</a></li>
              <li><a href="/test_prep-tutors">Test Prep Tutors</a></li>
              <li><a href="/writing-tutors">Writing Tutors</a></li>
              <li><a href="/all-subjects">All Subjects</a></li>
              <li><a href="/all-prep-subjects">All Prep Subjects</a></li>
              <li><a href="/all-lesson-subjects">All Lessons</a></li>
              <li><a href="/all-course-subjects">All Courses</a></li>
            </ul>
          </div>
        </div>
        <div class="site-footer-set site-footer-set--top-locations layout-region">
          <strong aria-controls="top-locations" class="site-footer__heading" id="top-locations-tab" role="tab">
            Top Locations
          </strong>
          <div aria-labelledby="top-locations-tab" id="top-locations" role="tabpanel">
            <ul>
              <li><a href="/tutoring-atlanta">Atlanta Tutoring</a></li>
              <li><a href="/tutoring-boston">Boston Tutoring</a></li>
              <li><a href="/tutoring-brooklyn">Brooklyn Tutoring</a></li>
              <li><a href="/tutoring-chicago">Chicago Tutoring</a></li>
              <li><a href="/tutoring-dallas_fort_worth">Dallas Tutoring</a></li>
              <li><a href="/tutoring-denver">Denver Tutoring</a></li>
              <li><a href="/tutoring-houston">Houston Tutoring</a></li>
              <li><a href="/tutoring-kansas_city">Kansas City Tutoring</a></li>
              <li><a href="/tutoring-los_angeles">Los Angeles Tutoring</a></li>
              <li><a href="/tutoring-miami">Miami Tutoring</a></li>
              <li><a href="/tutoring-new_york_city">New York City Tutoring</a></li>
              <li><a href="/tutoring-philadelphia">Philadelphia Tutoring</a></li>
              <li><a href="/tutoring-phoenix">Phoenix Tutoring</a></li>
              <li><a href="/tutoring-san_diego">San Diego Tutoring</a></li>
              <li><a href="/tutoring-san_francisco">San Francisco Tutoring</a></li>
              <li><a href="/tutoring-seattle">Seattle Tutoring</a></li>
              <li><a href="/tutoring-st_louis">St. Louis Tutoring</a></li>
              <li><a href="/tutoring-washington_dc">Washington DC Tutoring</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="site-footer--legal__background">
    <div class="site-footer--legal layout-field layout-region">
      <div class="site-footer--legal__links">
        <button class="js-site-footer--legal__notes-trigger js-show-site-footer--legal__notes">Show Legal Disclaimer</button>
        <button class="js-site-footer--legal__notes-trigger js-hide-site-footer--legal__notes">Hide Legal Disclaimer</button>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms-of-use">Terms of Use</a>
        <a href="/sitemap">Sitemap</a>
        <a href="/login">Sign In</a>
      </div>
    </div>
  </div>
</div>
