/*body {*/
/*    font-family: Noto Sans,sans-serif !important;*/
/*}*/
/*.bg-default{*/
/*    background-color: #0a0c0d !important;*/
/*}*/
.bg-default{
    background-color: #22356e !important;
    padding-top: 0rem !important;
}

/*@-webkit-keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0)*/
/*    }*/

/*    100% {*/
/*        transform: rotate(360deg)*/
/*    }*/
/*}*/

/*@-moz-keyframes spin {*/
/*    0% {*/
/*        -moz-transform: rotate(0)*/
/*    }*/

/*    100% {*/
/*        -moz-transform: rotate(360deg)*/
/*    }*/
/*}*/

/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0)*/
/*    }*/

/*    100% {*/
/*        transform: rotate(360deg)*/
/*    }*/
/*}*/
#nb-global-spinner{
    top: 50%;
    left: 50%;
    height: auto;
    width: 25%;
    padding-top: 25%;
}
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1003;
    /*background: #000000;*/
    background: transparent;
    overflow: hidden
}

.spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgb(25, 136, 2);
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite
}

.spinner div:first-child:after,
.spinner div:first-child:before {
    content: '';
    position: absolute;
    border-radius: 50%
}

.spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(85, 255, 6);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

.spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgb(15, 109, 2);
    animation: spin 1.5s linear infinite
}

.centre-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*z-index: 1000;*/
}
/*.overlay2{*/
/*    height:100%;*/
/*    width:100%;*/
/*    background-color:rgba(0, 0, 0, 0.286);*/
/*    z-index:90000;*/
/*    top:        0;*/
/*    left:       0;*/
/*    position:   fixed;*/
/*}*/


.main-content .navbar-top {
    position: relative !important;
}
.navbar-new {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem;
}

.navbar-new>.container,
.navbar-new>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.toast-bottom-left{
    left: 100px;
    bottom: 0;
}
